body {
    width: 70%;
    max-width: 1500px !important;
    margin: 40px auto !important;
    font-size: 18px; 
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
}