body {
    width: 60%;
    max-width: 1500px !important;
    margin: 40px auto !important;
    font-size: 18px; 
    position: relative;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}

section {
    margin-top: 25px;
    margin-bottom: 50px;
}

.inlineLeft, .inlineRight {
    position: absolute;
    display: inline;
}

.inlineRight {
    right: 0;
}