/*
Red Highlight: #B73225
Blue Minded: #004E7C
Maroon 6: #591C0B
Grey Water: #5C5F58
Lighter Grey: #DCE1E3
*/

a {
    text-decoration: underline !important;
    color: #004E7C !important;
    font-weight: bold !important;
}

.pagetitle {
    font-size: 40px;
    font-weight: bold !important;
    color: white !important;
    text-align:center;
}

body {
    position: relative;
    margin: 0 0 0 0;
    font-family: 'Roboto', sans-serif !important;
    background-color: #F0F0F0;
    text-align: justify;
    text-justify: inter-word;
    min-height: 100vh;
}

.main {
    font-size: 20px;
}

section {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 0px;
    margin-right: 0px;
}

header {
    position: sticky;
    top: 0;
    background: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    transition: 0.1s;
    z-index: 1000;
}

.imgright {
    width: auto;
    background-color: transparent;
    clear: right;
    float: right;
    margin: 10px 0px 10px 30px;
}

div.sitenav {
    background-color: #004E7C;
    opacity: 0.9;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.social-menu {
    display: flex;
    list-style-type: none;
    font-size: 40px;
}

@media only screen and (max-width: 768px) {
    .main {
        font-size: 15px;
        text-align: left;
    }

    .pagetitle {
        font-size: 30px;
        padding-bottom: 5px;
    }

    .imgright {
        float: none;
        text-align: center;
        margin: 0 0 20px 0;
    }

    .imgright img {
        width: 200px;
    }
}
